<div class='header'>
	<h1>Articl.es</h1>
	<h4>... What's "Articl" in spanish anyways?</h4>
</div>

<p id="notice"><%= notice %></p>

<ul>
	<li><%= link_to image_tag('left_arrow.png')+' List all articles', articles_path, :title => 'Return to list of articles' %> </li> 

	<li><%= link_to image_tag("edit.png")+" edit", edit_article_path(@article), :title => 'Edit article' %></li>

	<li><%= link_to image_tag("destroy.png")+' delete', @article, :title => 'Delete article', :confirm => 'Are you sure?', :method => :delete %></li>

	<li><%= mail_to '', image_tag('mail.png')+' email', :title => 'Share this article', :subject => @article.title, :body => request.url%></li>
</ul>
<p>
  <h2><%= @article.title %></h2>
</p>

<p>
  By <%= @article.author %>. <%= @article.num_edits %> edits since 
  <%= @article.date_posted.strftime("%b. %d, %Y") %>.
</p>

<p>
  <%= simple_format @article.body %>
</p>


