!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  = render :partial => 'layouts/admin_user_bar'

  %h1
    = link_to "Gamez", root_url
    Admin
  %body
    = render :partial => 'layouts/admin_nav_bar'
    %br
    = yield
