!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  .nav_bar
    - if current_user
      Logged in as
      = link_to current_user.username, :members_me
      , 
      = current_user.get_role
       
      = link_to "Logout", :logout
      %h1
        = link_to "Games", members_root_url
    - else
      = link_to "Login", :login
      = link_to "Register", :register
      %h1
        = link_to "Games", root_url
  %body
    
    = yield
