<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Added buy:</b>
  <%= @game.added_buy %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
