%p#notice= notice
%p#alert= alert
%p
  = will_paginate @games
%table
  %tr
    %th.title Title
    %th.rating Rating
    %th.date Date Added
  - @games.each do |game|
    %tr
      %td.title= link_to game.title, edit_admin_game_path(game)
      %td.rating= game.rating.humanize
      - if game.user_id.eql? current_user.id
        %td.date= game.created_at.strftime("%b. %d, %Y") + ' by me'
      - else
        %td.date= game.created_at.strftime("%b. %d, %Y") + ' by ' + game.user.first_name + " " + game.user.last_name
%br/
= link_to 'New Game', new_admin_game_path
