%p#notice= notice
%p#alert= alert
%p
  = will_paginate @games
%table
  %tr
    %th.title Title
    %th.rating Rating
    %th.date Date Added
    %th.buttons
  - @games.each do |game|
    %tr
      %td.title= game.title
      %td.rating= game.rating
      %td.date= game.created_at.strftime("%b. %d, %Y") + ' by ' + game.user.first_name + " " + game.user.last_name