%h1 Listing games
%table
  %tr
    %th.title Title
    %th.rating Rating
    %th.date Date Added
    %th.buttons
  - @games.each do |game|
    %tr
      %td.title= game.title
      %td.rating= game.rating
      %td.date= game.date
      %td.buttons
        = link_to 'Show', game
        = link_to 'Edit', edit_game_path(game)
        = link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Game', new_game_path
