%p#notice= notice
%p#alert= alert
%h2
  My Gamez
= link_to 'add a new game', new_member_game_path
%p
  = will_paginate @games
%table
  %tr
    %th.title Title
    %th.rating Rating
    %th.date Date Added
    %th.buttons
  - @games.each do |game|
    %tr
      %td.title= game_title(game)
      %td.rating= game_rating(game)
      %td.date= game_date(game) 
%br/
%p
  = "I\'ve created #{pluralize(@games.count, 'game')}, #{rating_percent} of which are rated."
