<br /><br /><br />
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><br />
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br />
  <div class="field">
    <%= f.label :author_id %>
    <%= collection_select(:article, :author_id, @authors, :id, :name, {:prompt => 'Select Author'})%>
  </div>
  <br />
  
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :size => '45x20' %>
  </div>

  </div>
  
  <div class="actions">
    <% if @article.new_record?%>
      <%= f.submit 'Create!'%>
    <% else %>
      <%= f.submit 'Save Changes'%>
    <% end %>
  </div>
<% end %>
